/*Reseteo y modificaciónes generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: solid black;
    text-align: center;
    padding: .5rem;

}

/*Modificador navbar bootstrap*/
.colorbarra {
    background-color: #96858f;   
}

/*Estilo de index*/
#introIndex {
    position: relative;
    height: auto;
}

#introIndex img {
    height: auto;
    width: 100%;
}

#introIndex h1 {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;

    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: #f4f4f4;
    font-size: 3rem;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#textoIndex {
    background-color: #9099a2;
    height: 55rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parrafo1 {
    display: flex;
    flex-direction: column;

}

.parrafo1__titulo {
    align-self: flex-start;
    margin-left: 15rem;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;


}

.parrafo1__texto {
    background-color: #d5d5d5;
    width: 50%;
    margin-top: 4rem;
    margin-right: 15rem;
    padding: 1rem;
    border-radius: 1rem;
    color: black;
    font-size: 1.2rem;
    font-style: italic;
    font-family: 'Roboto', sans-serif;

    align-self: flex-end;
    text-align: center;
}

.parrafo2 {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;

}

.parrafo2__titulo {
    align-self: flex-end;
    margin-right: 25rem;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.parrafo2__texto {
    background-color: #d5d5d5;
    width: 50%;
    margin-top: 4rem;
    margin-left: 10rem;
    padding: 1rem;
    border-radius: 1rem;
    color: black;
    font-size: 1.2rem;
    font-style: italic;
    font-family: 'Roboto', sans-serif;



    align-self: flex-start;
    text-align: center;
}



/*Estilo page historia*/
.historiaH1 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: solid black;
    font-size: 2rem;
    background-color: #f4f4f4;
    text-align: center;
}

.fichaHist {
    display: flex;
    padding: 2rem;
}

.ficha__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;

    height: 30rem;
}

.ficha__card img {
    width: 80%;
}

.ficha__card p {
    color: #3f4144;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-size: .7rem;
}

.textCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.textCard h3 {
    padding-bottom: 1rem;
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}


.textCard p {
    padding-top: 1rem;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.fondo2 {
    background-color: #d5d5d5;
}

.fondo1,
.fondo3 {
    background-color: #f4f4f4;
}

/*Fijar footer en bottom*/
html {
    min-height: 100%;
    position: relative;
}

main {
    margin-bottom: 8rem;
}

/*Estilo footer*/
footer {
    background-color: #96858f;
    height: 8rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;
    margin-top: 1rem;
}

footer .redes {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-bottom: 1rem;
}

.iconRedes {
    display: flex;
    justify-content: center;
    height: 50%;
    padding-top: 1rem;

}

footer img {
    width: 3.2rem;
    padding: .5rem;
}

.textRedes {
    display: flex;
    align-items: center;
    height: 50%;

    text-align: center;
}

.textoCita {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

/*Estilo page artistas*/
.tituloArtistas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.5rem;

    height: 6rem;
}

.tituloArtistas h2 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
}

.tituloArtistas p,
.cardArtista h3,
.galeria h3,
.descripcionContacto p,
.descripcionContacto h3,
form label,
form legend {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.ficheroArtistas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}



.cardArtista {
    width: 25%;
    border: 2px solid #d5d5d5;
    border-radius: 5%;
    margin: 2rem;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    transition: 1s;
}

.cardArtista:hover {
    transform: scale(1.1, 1.1);
}

.cardArtista img {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 20%;
}

.cardArtista__img {
    height: 70%;
    width: 100%;
}


.cardArtista p {

    text-align: center;
    padding: 1rem;
}

/*Estilo page galeria*/
.galeria {
    display: flex;
    flex-direction: column;

    padding: 3rem;

}

.galeria__fotos {
    width: 100%;


    display: flex;
    flex-wrap: wrap;
}

.button {
    width: 20rem;
    padding: 1.5rem;

    cursor: pointer;
    transition: 1s;
}

.button:hover {
    transform: scale(1.1, 1.1);
}



.galeria a {
    text-align: end;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.borderLine {
    background-color: #d5d5d5;
    height: .4rem;
    border-top: .1rem solid #9099a2;
    border-bottom: .1rem solid #9099a2;
}

#galeria2,
#galeria4,
#galeria6 {
    background-color: beige;
}

/* modal */
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target{
    visibility: visible;
    opacity: 1;
}

.popup{
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    height: 80%;
    position: relative;
    transition: all 1s ease-in-out;
}

.popup .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
}

.content img{
    align-items: center;
    justify-content: center;
    height: 90%;
    margin: auto;
}

/*Estilo page contacto*/
.formulario {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    height: 25rem;
    padding-top: 1.5rem;
}

fieldset {
    width: 40rem;
    height: 20rem;

    border-radius: 5px;


}

.descripcionContacto {
    height: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin-top: 2rem;
}

.inputTxt {
    height: 80%;
    width: 100%;

    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: space-around;

}

.inputTxt input {
    width: 10rem;
}

.comentario {
    height: 10rem;
    position: relative;
}

.comentario::placeholder {
    position: absolute;
}

.inputTxt__field {
    width: 25rem;

    display: flex;
    justify-content: space-between;

}

.botonera {
    height: 20%;

    position: relative;
}

.botonera__botones {
    position: absolute;
    right: 20%;
    top: 15%;
}

/*Estilo mobile*/
@media screen and (max-width: 420px) {
    #introIndex h1{
        font-size: 1.5rem;
        top: 30%
    }
    .parrafo1__titulo, .parrafo2__titulo {
        align-self: center;
        margin-left: 0;
        margin-right: 0;
    }
    .parrafo1__texto, .parrafo2__texto{
        align-self: center;
        width: 80%;
        margin-top: 2rem;
        margin-right: 0;
        margin-left: 0;
        font-size: 1rem;
    }

    .textoCita{
        font-size: .8rem;
    }

    .ficha__card{
        height: 15rem;
        width: 80%;
    }

    .ficha__card img {
        width: 80%;
        
    }

    .ficha__card p{
        font-size: .5rem;
        
    }

    .fichaHist{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textCard {
        width: 80%;
    }
}