@media screen and (max-width: 420px) {

    /*Index*/
    #introIndex h1 {
        font-size: 1.5rem;
        top: 25%;
        font-weight: 600;
        
        
    }

    .parrafo1__titulo,
    .parrafo2__titulo {
        align-self: center;
        margin-left: 0;
        margin-right: 0;
    }

    .parrafo1__texto,
    .parrafo2__texto {
        align-self: center;
        width: 80%;
        margin-top: 2rem;
        margin-right: 0;
        margin-left: 0;
        font-size: 1rem;
    }

    /*Historia*/
    .textoCita {
        font-size: .8rem;
    }

    .ficha__card {
        height: 15rem;
        width: 100%;

        img {
            width: 100%;
        }

        p {
            font-size: .8rem;
            padding-top: .5rem;
            padding-bottom: .5rem;
            text-align: center;
        }
    }

    .fichaHist {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textCard {
        width: 80%;

        p{
            text-align: justify;
        }
    }

    .tituloArtistas {

        h1 {
            font-size: 1.5rem;
        }

        p {
            font-size: .9rem;
        }
    }

    .cardArtista {
        width: 100%;
    }

    /*Galeria*/
    .galeria__fotos {
        justify-content: center;
    }

    /*Contacto*/
    .descripcionContacto {
        h1{
            margin-top: 3rem;
        }
        
        p {
            font-size: .9rem;
            padding-left: .5rem;
            padding-right: .5rem;
            padding-bottom: 1rem;
        }
    }

    #form{
        width: 300px;
        margin-top: 30%;
    }
    input{
        width: 300px;
    }

    textarea{
        width: 300px;
    }

    #submit{
        width: 300px;
    }

}

