@media screen and (max-width: 420px) {

    /*Index*/
    #introIndex h1 {
        font-size: 1.5rem;
        top: 30%
    }

    .parrafo1__titulo,
    .parrafo2__titulo {
        align-self: center;
        margin-left: 0;
        margin-right: 0;
    }

    .parrafo1__texto,
    .parrafo2__texto {
        align-self: center;
        width: 80%;
        margin-top: 2rem;
        margin-right: 0;
        margin-left: 0;
        font-size: 1rem;
    }

    /*Historia*/
    .textoCita {
        font-size: .8rem;
    }

    .ficha__card {
        height: 15rem;
        width: 80%;

        img {
            width: 80%;
        }

        p {
            font-size: .5rem;
        }
    }

    .fichaHist {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textCard {
        width: 80%;
    }

    .tituloArtistas {

        h1 {
            font-size: 1.5rem;
        }

        p {
            font-size: .9rem;
        }
    }

    .cardArtista {
        width: 100%;
    }

    /*Galeria*/
    .galeria__fotos {
        justify-content: center;
    }

    /*Contacto*/
    .descripcionContacto {
        p {
            font-size: .9rem;
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    fieldset {
        @include sizes(80%, 20rem);

        legend {
            font-size: 1rem;
            text-align: center;
            padding-bottom: 1rem;
        }

        label {
            font-size: .9rem;
            padding-right: 1rem;
        }
    }

    .formulario {
        width: 100%;

    }

    .inputTxt {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .inputTxt__field {
        width: 100%;
        padding-top: .5rem;
        padding-bottom: .5rem;

    }

    .botonera__botones {
        top: 40%;
    }

}

@media screen and (max-width:904px){
    /*Index*/
    #introIndex h1 {
        font-size: 2rem;
        top: 30%
    }

    .parrafo1__titulo,
    .parrafo2__titulo {
        align-self: center;
        margin-left: 0;
        margin-right: 0;
    }

    .parrafo1__texto,
    .parrafo2__texto {
        align-self: center;
        width: 80%;
        margin-top: 1rem;
        margin-right: 0;
        margin-left: 0;
        font-size: 1rem;
    }
}